@page "/todolist"
<h3>TodoList</h3>

<ul>
    @foreach (var todoItem in todoList)
    {
        <li>@todoItem.Title - Finished: @todoItem.Finished</li>
    }
   

</ul>

<input @bind="newTodoItemTitle" placeholder="New Item.."   />
<button class=" btn btn-primary"@onclick="OnAddClick">Add </button>

@code {
    private List<TodoListDto> todoList = new();
    private string newTodoItemTitle;

    private void OnAddClick()
    {
        todoList.Add(new TodoListDto
            {
                Title = newTodoItemTitle
            });
        newTodoItemTitle = null;
    }

 }

    


