@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome Coffee Lovers!</h1>
    @{
        ViewData[""] = "Gallery";
    }
    <h2>Gallery Page</h2>
    <img src="CoffeeShop.Web.Mvc/coffeeImage.png" height="113" width="113" border="0" />
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>
