header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: lightgray ;
    padding: 0px 10px;
}


body {
    color: #414141; /* Dark gray */
    background-color: white; /* Light gray */
    font-size: 24px;
    font-family: 'Open Sans', Arial, Helvetica, sans-serif;
    padding: 2rem;
    margin: 0;
}

h1 {
    font-family: "Open Sans", sans-serif;

    font-size: 36px;
    font-size: 2em;
}

h2 {
    font-size: 28px;
    font-size: 1.6em;
    color: gray;
}

ul {
    background-color: lightgray;
    float: right;
}


.nav {
    list-style: none;
    display: flex;
    margin: 0; /**/
    padding: 0; /**/
}

    .nav li {
        display: inline;
        padding: 20px;
    }

        .nav li a:hover {
            background-color: papayawhip;
            border-radius: 0px; /**/
        }
        .nav li a {
            color: darkcyan;
        }