header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: lightgray ;
    padding: 0px 10px;
}


body {
    color: #414141; /* Dark gray */
    background-color: white; /* Light gray */
    font-size: 24px;
    font-family: 'Open Sans', Arial, Helvetica, sans-serif;
    padding: 2rem;
    margin: 0;
}

h1 {
    font-family: "Open Sans", sans-serif;
    font-size: 36px;
    font-size: 2em;
    font-weight: bold;
    text-align: center;
}

h2 {
    font-size: 28px;
    font-size: 1.6em;
    color: gray;
    font-weight: normal;
}

ul {
    background-color: lightgray;
    float: right;
}

.nav {
    list-style: none;
    display: flex;
    margin: 0; /**/
    padding: 0; /**/
}

    .nav li {
        display: inline;
        padding: 20px;
    }

        .nav li a:hover {
            background-color: papayawhip;
            border-radius: 0px; /**/
        }
        .nav li a {
            color: darkcyan;
            text-decoration: none; /*unlinked*/
        }

.content {
    padding: 50px;
    margin: auto; /**/
}
.article {
    display: flex;
    margin-left: -50px;
}

.article-img {
    scale: 60%;
    margin-top: -50px;
}
.main {
    margin-left: -60px;
}

.side {
    padding-left: 10px;
}

.side-links li {
    padding: 5px 0;
    padding-left: 10px;
}

.side-links a {
    color: darkcyan;
    text-decoration: none;
}
.form-item input {
    width: 100%;
    padding: 8px;
    border-radius: 10px;
    box-sizing: border-box;
}

.form-item textarea {
    width: 100%;
    padding: 8px;
    box-sizing: border-box;
    border-radius: 10px;
    min-height: 100px;
    margin-top: 10px;
}

.form-item label {
    font-weight: normal;
}

button {
    font-weight: bold;
    border-radius: 10px;
    background-color: darkcyan;
    color: white;
    padding: 10px 20px;
}







